---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
	title='About me | Gregory Lameyeur'
	description='About - Gregory Lameyeur'
>
	<div class='stack gap-20'>
		<main class='wrapper about'>
			<Hero title='About me !'>
				<!-- <img
					width='1553'
					height='873'
					src='/assets/at-work.jpg'
					alt='Jeanine White at work with a colleague'
				/> -->
			</Hero>

			<section>
				<h2 class='section-title'>Background</h2>
				<div class='content'>
					<p>
						Naturally drawn to the field of computer science since a young age,
						the world of the web has particularly captivated me due to its
						wealth of creative and innovative possibilities. Recently, I
						embarked on a career change by enrolling in O'clock school, where I
						completed an intensive 5-month training program focused on web
						development.
					</p>
					<br />
					<p>
						During my training, I gained a strong foundation in algorithms and
						web development (HTML, CSS, JavaScript, Node.js), as well as
						fundamental concepts of databases using PostgreSQL and MongoDB. I
						particularly enjoyed delving deeper into my knowledge of back-end
						development, with a keen interest in data processing logic and API
						creation.
					</p>
					<br />
					<p>
						I'm passionate about solving complex problems, and I always strive
						to develop efficient and optimized solutions. I'm also curious and
						eager to learn, constantly seeking out new technologies and methods
						to enhance my web development skills.
					</p>
				</div>
			</section>
			<section>
				<h2 class='section-title'>Formation</h2>
				<div class='content'>
					<p>Formation développeur Web et Web Mobile Niveau V (BAC +2)</p>
				</div>
			</section>
			<section>
				<h2 class='section-title'>Skills</h2>
				<div class='content'>
					<p>
						NodeJS, Express, PostgreSQL, MongoDB, AWS, Apollo GraphQL,
						Serverless
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
